<!DOCTYPE html>
<html lang="en">

<head>
    <title>Freelance Web Developer in Doha, Qatar | Rusaid MRD</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/build/assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/build/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/build/assets/img/favicon-16x16.png">


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A freelance web developer based in the Qatar. working remotely with
            Individuals ,Organization and in
            collaboration with other agencies, Best web design service in qatar, latest web design in qatar">
    <meta name="keywords"
        content="web developer, web developer qatar, qatar web developer, freelance web developer, qatar web development, web design qatar, website design qatar, qatar web designer,web design in qatar, website development qatar, web development service qatar,">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />

    <link rel="stylesheet" href="/build/assets/css/hover.css" media="all" />
    {{!-- <link rel="stylesheet" href="/build/assets/css/styles-tailwind.css" media="all" /> --}}
    <link rel="stylesheet" href="/build/assets/css/main.css" media="all" />
</head>

<body>

    {{{ body }}}



    <div class="scroll-arrow-wrap" id="scroll-up">
        <a data-scroll href="#home" class="to-top">
            <i class="fas fa-angle-double-up"></i>
        </a>
    </div>

    <script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
    <script src="/build/assets/js/app.js"></script>


</body>

</html>