.about-me {
    //padding: 200px 0px;
    // background: url('../img/about-me-background.png') no-repeat;
    // background-size:100% 100%;
    // background-position: center center;
    background-color:$secondary-light;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13% 2%;


    .about-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
        .about-img {
            justify-self: center;
            align-self: center;
            img {
                width: 415px;
                height: 300px;
            }
        }
        .about-text {
            justify-self: center;
            h2 {
                margin-bottom: 25px;
            }
            p {
                width: 75%;
                font-size: 18px;
                margin-bottom: 15px;
                &:last-of-type {
                    margin-bottom: 50px;
                }
            }
        }
    }
}


@media screen and (min-width:999px) and (max-width:1199px){
    .about-me {
        .about-wrap {
            .about-text {
                p {
                    width: 90%;
                }
            }
        }
    }
}


@media screen and (max-width:998px){
    .about-me {
        .about-wrap {

            .about-img {
                img {
                    width: 343px;
                    height: 263px;
                }
            }
            .about-text {
                h2 {
                    font-size: 32px;
                }
                p {
                    width: 90%;
                    font-size: 14px;
                }
            }

        }
    }
}

@media screen and (max-width:767px){
    .about-me {
        height: 100vh;
        .about-wrap {
            grid-template-columns: 1fr;
            grid-row-gap: 90px;
            .about-img {
                grid-column: 1/3;
                margin-bottom: 80px;
                img {
                    width: 343px;
                    height: 263px;
                }
            }
            .about-text {
                grid-column: 1/3;
                grid-row: 1;
                align-self: center;
                justify-self: center;
                text-align: center;
                h2 {
                    font-size: 32px;
                    margin-top: 80px;
                }
                p {
                    width: 90%;
                    font-size: 14px;
                    margin: auto auto 15px auto;
                }
            }

        }
    }
}

@media screen and (max-width:480px){
    .about-me {
        height: 100%;
        .about-wrap {
           
            .about-img {
               
                margin-bottom: 60px;
                img {
                    width: 300px;
                    height: 220px;
                }
            }
            .about-text {
        
                h2 {
                    font-size: 32px;
                    margin-top: 80px;
                }
                p {
                    width: 78%;
                    font-size: 16px;
                    margin: auto auto 30px auto;
                }
            }

        }
    }
}


@media screen and (max-width:330px){
    .about-me {
        .about-wrap {
           
            .about-img {
                img {
                    width: 265px;
                    height: 210px;
                }
            }
        }
    }
}




