<header class="header-wrapper" id="home">
  <div class="mrd-container">
    <div class="top-wrapper">
      <div class="logo-wrap" data-sal="slide-right" data-sal-delay="300" data-sal-easing="ease-out-bounce"
        data-sal-duration="1200">
        <img class="hvr-forward" src="../build/assets/img/mrd-logo.png" alt="Rusaid Web developer based in Qatar">
      </div><!-- end of logo-wrap -->
      <div class="navigation">

        <div class="icon-wrap">
          <div class="icon-btn not-active">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div><!-- end of icon-wrap -->

        <div class="nav-wrap" data-sal="slide-left" data-sal-delay="300" data-sal-easing="ease-out-bounce"
          data-sal-duration="1200">
          <div class="nav-inner">
            <ul class="nav-menu">
              <li><a data-scroll href="#home">Welcome</a></li>
              <li><a data-scroll href="#about-me" id="lnk-about-me">About Me</a></li>
              <li><a data-scroll href="#services">Services</a></li>
              <li><a data-scroll href="#portfolio">My Works</a></li>
              <li><a data-scroll href="#contact-me">Contact Me </a></li>
            </ul>
          </div>
        </div>

      </div><!-- end of navogation -->
    </div><!-- end of top-wrapper -->

    <div class="header-content">
      <div class="content-wrap">
        <h2 class="mrd-txt-big name-txt" data-sal="slide-up" data-sal-delay="300" data-sal-easing="ease-out-bounce"
          data-sal-duration="1200">
          <span>Hello,
            I’m Rusaid</span>
          <div class="transition-bar"></div>
        </h2>
        <div data-sal="slide-up" data-sal-delay="600" data-sal-easing="ease-out-bounce" data-sal-duration="1200">
          <p class="hvr-forward">A freelance full-stack developer based in the Qatar. working remotely with
            Individuals ,Organization and in
            collaboration with other agencies.</p>
        </div>
        <a data-scroll href="#about-me" class="mrd-btn" data-sal="slide-down" data-sal-delay="300"
          data-sal-easing="ease-out-bounce" data-sal-duration="1200">More About Me</a>
      </div>
      <div class="header-image" data-sal="slide-down" data-sal-delay="300" data-sal-easing="ease-out-bounce"
        data-sal-duration="1200">
        <img class="hvr-float" src="build/assets/img/mrd-image.png" alt="full-stack developer based in the Qatar">
      </div>
    </div>


  </div><!-- end of mrd-container -->
</header>

<section class="about-me" id="about-me">
  <div class="mrd-container">
    <div class="about-wrap">
      <div class="about-img">
        <img src="build/assets/img/about-me-image.png" class="hvr-float" alt="full-stack developer based in the Qatar">
      </div>
      <div class="about-text">
        <h2 class="abt-txt mrd-txt-big">
          <span>ABOUT ME</span>
          <div class="transition-bar"></div>
        </h2>
        <div>
          <p class="hvr-forward">I’ve always
            been a follow-your-heart type of a person. I got into SLIIT (Sri Lanka
            Institute of Information
            and Technology), I always struggled with learning in a traditional classroom environment. (Yes,I'm a collage
            dropout)</p>
        </div>
        <div>
          <p class="hvr-forward">My path
            leads me to
            solve problems as self thought developer.I found my true life’s meaning in website creation and I devoted
            many years in studying and researching the
            world of web developing.</p>
        </div>
        <a data-scroll href="#my-skills" class="mrd-btn">See My Skills</a>
      </div>
    </div>
  </div>
</section>

<section class="skills-wrapper" id="my-skills">
  <div class="mrd-container">
    <div class="skill-wrap">
      <div class="title-wrapper">
        <h2 class="mrd-txt-big dark-back-txt">
          <span>I have a working knowledge of</span>
          <div class="transition-bar"></div>
        </h2>
      </div><!-- end of title-wrapper -->

      <div class="icon-wrapper">

        <div class="icon-wrap">
          <img src="build/assets/img/html-icon.png" class="hvr-bounce-in" alt="html5">
        </div>
        <div class="icon-wrap">
          <img src="build/assets/img/css-icon.png" class="hvr-bounce-in" alt="css">
        </div>
        <div class="icon-wrap ic-jvs">
          <img src="build/assets/img/javascript-icon.png" class="hvr-bounce-in" alt="javascript">
        </div>
        <div class="icon-wrap ic-php">
          <img src="build/assets/img/php-icon.png" class="hvr-bounce-in" alt="php">
        </div>
        <div class="icon-wrap ic-node">
          <img src="build/assets/img/node-icon.png" class="hvr-bounce-in" alt="nodejs">
        </div>
        <div class="icon-wrap ic-mdb">
          <img src="build/assets/img/mongodb.png" class="hvr-bounce-in" alt="mongodb">
        </div>
        <div class="icon-wrap ic-react">
          <img src="build/assets/img/react-icon.png" class="hvr-bounce-in" alt="reactjs">
        </div>
        <div class="icon-wrap ic-api">
          <img src="build/assets/img/api.png" class="hvr-bounce-in" alt="api">
        </div>
        <div class="icon-wrap ic-wordpress">
          <img src="build/assets/img/wordpress-icon.png" class="hvr-bounce-in" alt="wordpress">
        </div>
        <div class="icon-wrap ic-server">
          <img src="build/assets/img/server-icon.png" class="hvr-bounce-in" alt="server-setup">
        </div>


      </div><!-- end of icon-wrapper -->

      <div class="skill-note">
        <div class="note hvr-float">
          <div class="ic-wrap">
            <img src="build/assets/img/analysis.png" alt="analysis">
          </div>
          <div class="nt-wrap">
            <p>I specialized in developing and maintaining beautiful, useful, and professional websites using best
              practice accessibility leading to SEO friendly HTML and CSS. All my websites are carefully and patiently
              hand coded.</p>
          </div>
          <div class="cover-top"></div>
        </div><!-- end of note-1-->

        <div class="note hvr-float">
          <div class="ic-wrap">
            <img src="build/assets/img/effective.png" alt="effective">
          </div>
          <div class="nt-wrap">
            <p>When I am designing website, I strive to make it unique and push the boundaries. My course is to make
              intuitive and engaging websites for my clients based on their requirements, audience and preference.</p>
          </div>
        </div><!-- end of note-1-->

      </div><!-- end of skill-note -->

    </div><!-- end of skill-wrap -->
  </div><!-- end of mrd-container -->
</section>

<section class="services" id="services">
  <div class="mrd-container">
    <div class="service-wrap">

      <div class="title-wrapper">
        <h2 class="mrd-txt-big">
          <span>MY SERVICES</span>
          <div class="transition-bar"></div>
        </h2>
      </div><!-- end of title-wrapper -->

      <div class="service-inner-wrap">
        <div class="single-wrap hvr-float">
          <img src="build/assets/img/web-developing.png" alt="web developing">
          <h4>Web developing</h4>
          <p>Creating a website from scratch.  Following your ideas, together we can build a website that will be of
            benefit to your business. I will follow your vision into creating a perfect website for you.I develop
            custom websites that provide you with a customized, user-friendly and reliable site</p>
        </div><!-- end of single-wrap -->
        <div class="single-wrap hvr-float">
          <img src="build/assets/img/web-redesign.png" alt="website redesign">
          <h4>Website Redesign</h4>
          <p>Is your website responsive for all devices and user friendly ? If you feel like your website needs a fix
            up and some improvements, I can help you turn it into modern and functioning keep bringing you more
            customers.</p>
        </div><!-- end of single-wrap -->
        <div class="single-wrap hvr-float">
          <img src="build/assets/img/website-maintenance.png" alt="website maintaining">
          <h4>Website Maintenance</h4>
          <p>Great website maintenance is extremely important to any business. If you want to retain and attract
            customers, a proper search engine maintenance must be done. If you want to maintain the value of your
            website over time,
            I am your guy.</p>
        </div><!-- end of single-wrap -->
        <div class="single-wrap hvr-float">
          <img src="build/assets/img/social-media-marketing.png" alt="social media marketing">
          <h4>Social Media Marketing</h4>
          <p>I provide social media marketing services that will give your business an opportunity to reach a broader
            audience and market your products across all social media platforms.
          </p>
        </div><!-- end of single-wrap -->
        <div class="single-wrap hvr-float">
          <img src="build/assets/img/ecommerce-website.png" alt="ecommerce website">
          <h4>Ecommerce website</h4>
          <p>If you want to have a serious online business, you will need an online store.Your business needs the best
            e-commerce software there is and I can help you get it up and running. </p>
        </div><!-- end of single-wrap -->
        <div class="single-wrap hvr-float">
          <img src="build/assets/img/logo-design.png" alt="logo design">
          <h4>Logo Design</h4>
          <p>Need a fresh logo design? I will create a perfect one with you.
            This comes in package with website services. (Only along website)</p>
        </div><!-- end of single-wrap -->
      </div><!-- end of service-inner-wrap -->

    </div><!-- end of service-wrap -->
  </div><!-- end of mrd-container -->
</section>

<section class="portfolio" id="portfolio">
  <div class="mrd-container">
    <div class="title-wrapper">
      <h2 class="mrd-txt-big">
        <span>MY WORK</span>
        <div class="transition-bar"></div>
      </h2>
    </div><!-- end of title-wrapper -->

    <div class="portfolio-inner-wrap">
      <div class="single-portfolio">
        <div class="img-wrap">
          <img src="build/assets/img/resto.png" class="hvr-grow" alt="GMT Translation Doha, Qatar">
        </div>
        <div class="info-wrap">
          <h4 class="mrd-txt-big">
            <span>GM TRANSLATION</span>
            <div class="transition-bar"></div>
          </h4>
          <p class="hvr-float">Resto is a clean and modern HTML landing page site with ultimate design and layout.
            Fully responsive and
            built with Bootstrap.Resto comes loaded with a modern layout and is specially designed for Hotel
            &Restaurant. </p>
          <a href="#" class="mrd-btn">View Website</a>
        </div>
      </div>
    </div><!-- end of portfolio-inner-wrap -->

  </div><!-- end of mrd-container -->
</section>

<section class="contact-wrapper" id="contact-me">
  <div class="mrd-container">
    <div class="title-wrapper">
      <h3 class="mrd-txt-big">
        <span>let’s create something beautiful together.
          I’d love to hear from you</span>
        <div class="transition-bar"></div>
      </h3>
    </div><!-- end of title-wrapper -->

    <div class="contact-inner">

      <div class="form-wrapper">
        <form class="form" method="POST" action="/send">
          <!-- <h4>{{ msg }}</h4> -->
          <div class="form-g">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-i" id="name" name="name" placeholder="Name" required>
          </div>

          <div class="form-g">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-i" id="email" name="email" placeholder="name@example.com" required>
          </div>

          <div class="form-g">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-i" id="message" name="message" rows="5" required>Message</textarea>
          </div>

          <div class="form-g">
            <button type="submit" class="mrd-btn">SEND TO ME</button>
          </div>

        </form>
      </div><!-- end of form-wrapper -->

      <div class="social-icon-content">
        <h3 class="mrd-txt-big dark-back-txt">
          <span>Get in touch</span>
          <div class="transition-bar"></div>
        </h3>
        <p>Feel free to reach out if you would like to collaborate,inquire about freelance work, or
          just to say hello.
        </p>
        <div class="s-icon-wrapper">
          <ul class="sc-icon">
            <li class="hvr-rotate">
              <a href="#"><img src="build/assets/img/linkedin-logo.png" alt="linkedin"></a>
            </li>
            <li class="hvr-rotate">
              <a href="#"><img src="build/assets/img/facebook-logo.png" alt="facebook"></a>
            </li>
            <li class="hvr-rotate">
              <a href="#"><img src="build/assets/img/twitter-logo.png" alt="twitter"></a>
            </li>
            <li class="hvr-rotate">
              <a href="#"><img src="build/assets/img/instagram-logo.png" alt="instagram"></a>
            </li>

          </ul>
        </div>
      </div><!-- end of social-icon-content -->

    </div><!-- end of contact inner -->

    <div class="footer-wrapper">
      <p>© 2019 - <span>Rusaid MRD -</span>Designed and Hand Coded with <img src="build/assets/img/hand-coded.png"
          alt="rusaid mrd"> by me
      </p>
    </div>

  </div><!-- end of mrd-container -->
</section>