.header-wrapper {
    height: 100vh;
    position: relative;
    
    .alert-wrapper {
        position: absolute;
        top:2%;
        right: 3%;

        .form-alert {
             background:$olive;
             display: flex;
             flex-direction: column;
             border: none;
             border-radius: 6px;
             padding: 1.5rem 3rem;
             z-index: 10000;
        }

    } // alert-wrapper

    .header-content {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);


        .content-wrap {
            text-align: center;

            h2 {
                font-size: 5rem;
            }

            .header-image{
                margin-bottom: 45px;
                img {
                    width: 400px;
                    height: 340px;
                }
            }

            p {
                font-size: 23px;
                width: 72%;
                margin: 10px auto 36px auto;
            }
        }
    }
}



@media screen and (max-width:1024px){
    .header-wrapper {

        .header-content {
 
            .content-wrap {
    
                h2 {
                    font-size: 5.8rem;
                }
    
                .header-image{
                    // margin-bottom: 45px;
                    img {
                        width: 530px;
                        height: 425px;
                    }
                }
    
                p {
                    font-size: 32px;
                    width: 95%;
                    // margin: 10px auto 36px auto;
                }
            }
        }
    }
}


@media screen and (max-width:800px){
    .header-wrapper {

        .header-content {
            .content-wrap {
    
                h2 {
                    font-size: 5rem;
                }
    
                .header-image{
                    // margin-bottom: 45px;
                    img {
                        // width: 400px;
                        // height: 340px;
                    }
                }
    
                p {
                    font-size: 27px;
                    width: 100%;
                    // margin: 10px auto 36px auto;
                }
            }
        }
    }
}





@media screen and (min-width:530px) and (max-width:650px){
    .header-wrapper {

        .header-content {
            .content-wrap {
    
                h2 {
                    font-size: 4rem;
                }
    
                .header-image{
                    // margin-bottom: 45px;
                    img {
                        width: 375px;
                        height: 315px;
                    }
                }
    
                p {
                    font-size: 23px;
                    width: 100%;
                    // margin: 10px auto 36px auto;
                }
            }
        }
    }
}


@media screen and (max-width:480px){
    .header-wrapper {

        .alert-wrapper {
            top:2%;
            right: 3%;
    
            .form-alert {
                 border-radius: 6px;
                 padding: 0.9rem 1.1rem;
                 strong {
                     font-size: 12px;
                 }
                 span {
                     font-size: 11px;
                 }
            }
    
        } // alert-wrapper

        .header-content {
            top: 55%;
            .content-wrap {
                
                h2 {
                    font-size: 3rem;
                }
    
                .header-image{
                    // margin-bottom: 45px;
                    img {
                        width: 283px;
                        height: 244px;
                    }
                }
    
                p {
                    font-size: 17px;
                    width: 100%;
                    // margin: 10px auto 36px auto;
                }
            }
        }
    }
}




@media screen and (max-width:375px){
    .header-wrapper {

        .header-content {
            top: 55%;
            .content-wrap {
                
                h2 {
                    font-size: 2.9rem;
                }
    
                .header-image{
                    margin-bottom: 23px;
                    img {
                        width: 240px;
                        height: 190px;
                    }
                }
    
                p {
                    font-size: 14px;
                    width: 100%;
                    margin-top: 0;
                    // margin: 10px auto 36px auto;
                }
            }
        }
    }
}


@media screen and (max-width:320px){
    .header-wrapper {

        .header-content {
            top: 55%;
            .content-wrap {
                
                h2 {
                    font-size: 2.5rem;
                }
    
                .header-image{
                    margin-bottom: 23px;
                    img {
                        width: 196px;
                        height: 150px;
                    }
                }
    
                p {
                    font-size: 12px;
                    margin-top: 0;
                    margin-bottom: 20px;
                    // margin: 10px auto 36px auto;
                }
            }
        }
    }
}