// .button,
// input[type="submit"],
// input[type="reset"],
// input[type="button"] {
//   display: inline-block;
//   padding: 20px 60px;
//   color: black;
//   text-align: center;
//   font-size: 14px;
//   font-weight: 600;
//   text-transform: uppercase;
//   text-decoration: none;
//   white-space: nowrap;
//   background-color: white;
//   border-radius: 4px;
//   cursor: pointer;
//   box-sizing: border-box;
//   transition: all 0.2s ease;
//   border: none;


//   &:hover,
//   &:active,
//   &:focus {
//     outline: 0;
//     transform: scale(1.01);
//     transform: translateY(3px);
//   }

// }
  
.mrd-btn,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background-color: $secondary-dark;
    padding: 18px 40px;
    color:$color-text-light;
    border-radius: 6px;
    border: none;
    box-shadow: none;

    @include disableTapHighlightColor();
    @include hardwareAccel();

    &:hover,
    &:active,
    &:focus {
      outline: 0;
  }  
} 


button {
  cursor: pointer;
}

.mrd-btn {
  &,
  &:link,
  &:visited{
    text-decoration:none;
    display:inline-block;
    transition: all 0.2s;
    position: relative;
  }

  &::after {
    content:'';
    display: inline-block;
    height: 100%;
    width: 100%;
    background: $secondary-dark;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
    transition: all 0.4s;

  }



}


.mrd-btn {
  font-weight: bold;
  &:hover {
    transform:translateY(-3px);
    box-shadow: 0px 10px 20px rgba(0,0,0,.2);
    color:$color-text-light;

    &::after {
      transform: scalex(1.4) scaleY(1.6);
      opacity: 0;
    }

  }
  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    color:$color-text-light;
  }
} // end of mrd-btn

    
@media screen and (min-width:992px) and (max-width:1200px) {
    .mrd-btn {
      padding: 27px 50px;
      font-size: 27px;
      border-radius: 21px;
    }
}

@media screen and (min-width:767px) and (max-width:991px)  {
  .mrd-btn {
    padding: 24px 46px;
    font-size: 23px;
    border-radius: 12px;
  }
}


@media screen and (min-width:530px) and (max-width:650px){
    .mrd-btn {
      padding: 24px 46px;
      font-size: 23px;
      border-radius: 12px;
    }
}


@media screen and (max-width:360px) {
  .mrd-btn {
    padding: 16px 25px;
    font-size: 14px;
  }
}

@media screen and (max-width:320px) {
  .mrd-btn {
    padding: 12px 22px;
    font-size: 12px;
  }
}